<p id="notice"><%= notice %></p>

<h1>Beers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Style</th>
      <th>Hop</th>
      <th>Yeast</th>
      <th>Malts</th>
      <th>Ibu</th>
      <th>Alcohol</th>
      <th>Blg</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= beer.name %></td>
        <td><%= beer.style %></td>
        <td><%= beer.hop %></td>
        <td><%= beer.yeast %></td>
        <td><%= beer.malts %></td>
        <td><%= beer.ibu %></td>
        <td><%= beer.alcohol %></td>
        <td><%= beer.blg %></td>
        <td><%= link_to 'Show', beer %></td>
        <td><%= link_to 'Edit', edit_beer_path(beer) %></td>
        <td><%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beer', new_beer_path %>
